{% load static %}
{% load i18n %}
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
    <input type="hidden" value="{{ stop|yesno:"true,false" }}" id="ajax-stop">
{% if data %}
    <canvas id="chart" style="display: block; box-sizing: border-box; height: 384px; width: 768px;"
            width="960"
            height="480"></canvas>
    <div id="name-first" style="display: none">{{ data.datasets_first.label }}</div>
    <div id="name-second" style="display: none">{{ data.datasets_second.label }}</div>
    <div id="color-first" style="display: none">{{ data.datasets_first.backgroundColor }}</div>
    <div id="color-second" style="display: none">{{ data.datasets_second.backgroundColor }}</div>
    <input type="hidden" value="{{ stop }}" id="ajax-stop">
{% else %}
    <div class="loader"></div>
    <input type="hidden" value="{{ key }}" id="key-input">
    <a href="{% url 'interface:market_forecast_done' %}" style="display:none" id="key-url"></a>
{% endif %}


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('chart').getContext('2d');
    let chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: {{ data.labels | safe }},
            datasets: [
                {
                    label: document.getElementById('name-first').innerText,
                    borderColor: document.getElementById('color-first').innerText,
                    data: {{ data.datasets_first.data | safe }}
                },
                {
                    label: document.getElementById('name-second').innerText,
                    borderColor: document.getElementById('color-second').innerText,
                    data: {{ data.datasets_second.data | safe }}
                },
            ]
        },
        options: {
            title: {
                text: 'Forecast',
                display: true
            }
        }
    });
</script>