{% extends 'wrappers/authorization.html' %}
{% load static %}
{% load i18n %}
{% block header_authorization %}
    <h1 class="section-heading text-uppercase text-white text-center display-3">{% trans 'Hi_forgot_password' %}</h1>
    <p class="text-white mt-0 mb-0 ">{% trans 'Forgot_password_description' %}</p>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show mb-0 mt-3" role="alert">
                    <span class="alert-text"><strong>{% trans 'Success_title_forgot_password' %}</strong> {{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif message.tags == "warning" %}
                <div class="alert alert-warning alert-dismissible fade show mb-0 mt-3" role="alert">
                    <span class="alert-text"><strong>{% trans 'Warning_title_forgot_password' %}</strong> {{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show mb-0 mt-3" role="alert">
                    <span class="alert-text"><strong>{% trans 'Error_title_forgot_password' %}</strong> {{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock header_authorization %}
{% block specific_authorization %}
    <div class="text-center text-muted mb--4">
        {% trans 'Simple_forgot_password' %}
    </div>
{% endblock specific_authorization %}
{% block main_authorization %}

    <form role="form" method="post" enctype="multipart/form-data"
          action="{% url 'interface:forgot_password_internal' %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                </div>
                <input class="form-control" name="username" placeholder="{% trans 'Username_placeholder' %}" type="text"
                       required>
            </div>
        </div>
        <div class="form-group mb-0">
            <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" name="password" id="password"
                       placeholder="{% trans 'Password_placeholder' %}"
                       type="password" required>
            </div>
        </div>
        <div class="text-muted font-italic pb-3">
            <small>{% trans 'password_strength' %}
                <span id="strength-strong" class="font-weight-700 text-success" style="display: none">
                    {% trans 'strong' %}</span>
                <span id="strength-medium" class="font-weight-700 text-default" style="display: none">
                    {% trans 'medium' %}</span>
                <span id="strength-weak" class="font-weight-700 text-danger" style="display: none">
                    {% trans 'weak' %}</span>
            </small>
        </div>
        <div class="form-group mb-0">
            <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user-lock"></i></span>
                </div>
                <input class="form-control" name="password_confirm" id="confirm-password"
                       placeholder="{% trans 'Password_confirm_placeholder' %}"
                       type="password" required>
                <span id='message'></span>
            </div>
        </div>
        <div class="text-muted font-italic pb-3">
            <small>{% trans 'password_confirm' %}
                <span id="matching" class="font-weight-700 text-success" style="display: none">
                    {% trans 'matching' %}</span>
                <span id="not-matching" class="font-weight-700 text-warning" style="display: none">
                    {% trans 'not_matching' %}</span>
            </small>
        </div>
        <div class="row my-4" style="display: none;">
            <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="customCheckRegister" type="checkbox"
                           onclick="checkPolicy(this)" checked>
                    <label class="custom-control-label" for="customCheckRegister">
                        <span class="text-muted">{% trans 'I_agree_with_the' %}
                            <a href="#">{% trans 'Privacy_policy' %}</a>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button id="submit-button" class="btn btn-icon btn-default mt-3" disabled>
                                        <span class="btn-inner--icon">
                                            <i class="fas fa-user-tie"></i>
                                        </span>
                <span class="btn-inner--text">{% trans 'Reset_password' %}</span>
            </button>
        </div>
    </form>
{% endblock main_authorization %}
{% block footer_authorization %}
    <div class="col-6">
        <a href="{% url 'interface:sign_in' %}" class="nav-link"><small>{% trans 'I_remember_password' %}</small></a>
    </div>
    <div class="col-6 text-right">
        <a href="{% url 'interface:sign_up' %}" class="nav-link"><small>{% trans 'Create_new_account' %}</small></a>
    </div>
{% endblock footer_authorization %}
