{% extends 'wrappers/main.html' %}
{% load static %}
{% load i18n %}
{% block extra_links %}
    <link href="{% static 'base/css/counter-styles.css' %}" rel="stylesheet"/>
{% endblock extra_links %}
{% block extra_wrapper %}
    <div class="header pb-6 d-flex align-items-center welcome-cover article">
        <span class="mask bg-gradient-default opacity-7"></span>
        <div class="container-fluid d-flex align-items-center welcome-container pt-200">
            <div class="row welcome-container">
                <div class="col-lg-7 col-md-10 welcome-text">
                    <h1 class="display-2 text-white scale text-uppercase">DISMART</h1>
                    <p class="text-white mt-0 mb-5 scale">{% trans 'Project_short_description' %}</p>
                </div>
                <div class="tab-pane tab-example-result fade show active welcome-text">
                    <a href="#subscription" class="btn btn-neutral">{% trans 'Buy_subscription' %}</a>
                    <a href="#about"
                       class="btn btn-outline-neutrale text-white">{% trans 'Read_full_description' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock extra_wrapper %}
{% block container %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-text"><strong>{% trans 'Success_welcome' %}</strong> {{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% elif message.tags == "warning" %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-text"><strong>{% trans 'Warning_title_welcome' %}</strong> {{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-text"><strong>{% trans 'Error_title_welcome' %}</strong> {{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <section class="page-section p-5 article" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase scale">{% trans 'Services' %}</h2>
                <h3 class="section-subheading text-muted scale">{% trans 'Services_description' %}</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-default"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-3 scale">{% trans 'Services_1' %}</h4>
                    <p class="text-muted scale">{% trans 'Services_1_description' %}</p>
                </div>
                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-default"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-3 scale">{% trans 'Services_2' %}</h4>
                    <p class="text-muted scale">{% trans 'Services_2_description' %}</p>
                </div>
                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-default"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-3 scale">{% trans 'Services_3' %}</h4>
                    <p class="text-muted scale">{% trans 'Services_3_description' %}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section p-5 article" id="counter">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase scale">{% trans 'Services' %}</h2>
                <h3 class="section-subheading text-muted scale">{% trans 'Services_description' %}</h3>
            </div>
            <div class="row">
                <div class="four col-md-3">
                    <div class="counter-box"><i class="fas fa-users"></i>
                        <span class="counter">{{ amount.users }}</span>
                        <p>{% trans 'Users' %}</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box"><i class="fas fa-building"></i> <span
                            class="counter">{{ amount.companies }}</span>
                        <p class="scale">{% trans 'Companies' %}</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box"><i class="fas fa-newspaper"></i> <span
                            class="counter">{{ amount.articles }}</span>
                        <p class="scale">{% trans 'Articles' %}</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box"><i class="fas fa-comment"></i> <span
                            class="counter">{{ amount.advices }}</span>
                        <p class="scale">{% trans 'Advices' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section p-5 article" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase scale">{% trans 'About_us' %}</h2>
                <h3 class="section-subheading text-muted scale">{% trans 'About_description' %}.</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'base/img/nure-1.jpg' %}"
                                                     alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-main-text scale">2017-2018</h4>
                            <h4 class="subheading timeline-main-text scale">{% trans 'About_part_1' %}</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted scale">{% trans 'About_part_1_description' %}</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'base/img/nure-2.jpg' %}"
                                                     alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-main-text scale">2018-2019</h4>
                            <h4 class="subheading timeline-main-text scale">{% trans 'About_part_2' %}</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted scale">{% trans 'About_part_2_description' %}</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'base/img/nure-3.jpg' %}"
                                                     alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-main-text scale">2019-2020</h4>
                            <h4 class="subheading timeline-main-text scale">{% trans 'About_part_3' %}</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted scale">{% trans 'About_part_3_description' %}</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'base/img/nure-4.jpg' %}"
                                                     alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-main-text scale">2020-2021</h4>
                            <h4 class="subheading timeline-main-text scale">{% trans 'About_part_4' %}</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted scale">{% trans 'About_part_4_description' %}</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                     <button class="timeline-image" data-toggle="modal"
                            data-target="#modal-form-video">
                        <h4 class="timeline-image-text scale" style="margin-top:10px">
                            {% trans 'Story' %}
                        </h4>
                    </button>
                </li>
            </ul>
        </div>
    </section>
    <section class="miri-ui-kit-section team-members-section p-5 article">
        <div class="container">
            <h2 class="text-uppercase text-center scale">{% trans 'Team_members' %}</h2>
            <p class="mb-5 text-center scale">{% trans 'Team_members_description' %}</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-card card border-0 raise-on-hover bg-image hover-overlay ripple">
                        <img src="{% static 'base/img/me/me-founder.jpg' %}" alt="Founder"
                             class="card-img-top img-fluid">
                        <a href="#">
                            <div class="mask img-mask"></div>
                        </a>
                        <div class="card-body pl-5">
                            <h5 class="card-title mb-0 fs-5 scale">{% trans 'Artem_Khovrat' %}</h5>
                            <p class="font-weight-medium designation fs-7 main-information scale">{% trans 'Founder' %}</p>
                            <p class="fs-7 scale">{% trans 'Me_founder_description' %}</p>
                            <p class="social-links">
                                <a href="{{ links.my_facebook }}" class="icon-fb pr-2" target="_blank">
                                    <i class="fab fa-facebook-square footer-icon"></i></a>
                                <a href="{{ links.my_twitter }}" class="icon-twitter pr-2" target="_blank">
                                    <i class="fab fa-twitter-square footer-icon"></i></a>
                                <a href="{{ links.my_linkedin }}" class="icon-linkedin" target="_blank">
                                    <i class="fab fa-linkedin footer-icon"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card card border-0 raise-on-hover bg-image hover-overlay ripple">
                        <img src="{% static 'base/img/me/me-developer.jpg' %}" alt="Developer"
                             class="card-img-top img-fluid">
                        <a href="#">
                            <div class="mask img-mask"></div>
                        </a>
                        <div class="card-body pl-5">
                            <h5 class="card-title mb-0 fs-5 scale">{% trans 'Artem_Khovrat' %}</h5>
                            <p class="font-weight-medium designation fs-7 main-information scale">{% trans 'Developer' %}</p>
                            <p class="fs-8 scale">{% trans 'Me_developer_description' %}</p>
                            <p class="social-links">
                                <a href="{{ links.my_facebook }}" class="icon-fb pr-2" target="_blank">
                                    <i class="fab fa-facebook-square footer-icon"></i></a>
                                <a href="{{ links.my_twitter }}" class="icon-twitter pr-2" target="_blank">
                                    <i class="fab fa-twitter-square footer-icon"></i></a>
                                <a href="{{ links.my_linkedin }}" class="icon-linkedin" target="_blank">
                                    <i class="fab fa-linkedin footer-icon"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-card card border-0 raise-on-hover bg-image hover-overlay ripple">
                        <img src="{% static 'base/img/me/me-designer.jpg' %}" alt="Designer"
                             class="card-img-top img-fluid">
                        <a href="#">
                            <div class="mask img-mask"></div>
                        </a>
                        <div class="card-body pl-5">
                            <h5 class="card-title mb-0 fs-5 scale">{% trans 'Artem_Khovrat' %}</h5>
                            <p class=" font-weight-medium designation fs-9 main-information scale">{% trans 'Designer' %}</p>
                            <p class="fs-9 scale">{% trans 'Me_designer_description' %}</p>
                            <p class="social-links">
                                <a href="{{ links.my_facebook }}" class="icon-fb pr-2" target="_blank">
                                    <i class="fab fa-facebook-square footer-icon"></i></a>
                                <a href="{{ links.my_twitter }}" class="icon-twitter pr-2" target="_blank">
                                    <i class="fab fa-twitter-square footer-icon"></i></a>
                                <a href="{{ links.my_linkedin }}" class="icon-linkedin" target="_blank">
                                    <i class="fab fa-linkedin footer-icon"></i></a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="pricing-section p-5 article" id="subscription">
        <div class="container">
            <h2 class="text-uppercase text-center scale">{% trans 'Choose_plan' %}</h2>
            <p class="mb-5 text-center scale">{% trans 'Choose_plan_description' %}</p>
            <div class="card-group">
                <div class="card text-center">
                    <div class="card-body p-5">
                        <h4 class="scale">{% trans 'Free' %}</h4>
                        <p class="scale">{% trans 'Free_Description' %}</p>
                        <form action="{% url 'interface:check_subscription' %}">
                            <button class="btn btn-default">{% trans 'Choose_plan' %}</button>
                        </form>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body p-5">
                        <h4 class="scale">{% trans 'Maximum' %}</h4>
                        <p class="scale">{% trans 'Maximum_description' %}</p>
                        <form action="{% url 'interface:check_subscription' %}">
                            <button class="btn btn-default">{% trans 'Choose_plan' %}</button>
                        </form>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body p-5">
                        <h4 class="scale">{% trans 'Ultra' %}</h4>
                        <p class="scale">{% trans 'Ultra_description' %}</p>
                        <form action="{% url 'interface:check_subscription' %}">
                            <button class="btn btn-default">{% trans 'Choose_plan' %}</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="footer-content text-center p-5 article">
        <h2 class="text-uppercase scale">{% trans 'Footer_header' %}</h2>
        <p class="scale">{% trans 'Footer_description' %}</p>
        <form action="{% url 'interface:sign_up' %}">
            <button class="btn btn-icon btn-success mt-3">
                <span class="btn-inner--icon">
                    <i class="fas fa-user-tie"></i>
                </span>
                <span class="btn-inner--text">{% trans 'Sign_up' %}</span>
            </button>
        </form>
        <div class="footer-social-links text-center my-4">
            <a href="{{ links.facebook }}" class="icon-fb pr-2" target="_blank">
                <i class="footer-icon fab fa-facebook"></i>
                <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
            <a href="{{ links.twitter }}" class="icon-twitter pr-2" target="_blank">
                <i class="footer-icon fab fa-twitter"></i>
                <span class="nav-link-inner--text d-lg-none">Twitter</span>
            </a>
            <a href="{{ links.instagram }}" class="icon-insta pr-2" target="_blank">
                <i class="footer-icon fab fa-instagram"></i>
                <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
            <a href="{{ links.google }}" class="icon-google pr-2" target="_blank">
                <i class="footer-icon fab fa-google"></i>
                <span class="nav-link-inner--text d-lg-none">Google</span>
            </a>
            <a href="{{ links.github }}" class="icon-github" target="_blank">
                <i class="footer-icon fab fa-github"></i>
                <span class="nav-link-inner--text d-lg-none">Github</span>
            </a>
        </div>
    </section>
        <div class="modal fade" id="modal-form-video" tabindex="-1" role="dialog"
         aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered" role="document" style="width: 610px">
            <div class="modal-content" style="width: 610px">
                <div class="modal-body p-0">
                    <div class="card bg-secondary border-0 mb-0">
                        <div class="card-body">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ links.video }}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}
{% block extra_footer %}
    <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
                <a href="{{ links.admin_panel }}" class="nav-link scale" target="_blank">{% trans 'Admin_panel' %}</a>
            </li>
            <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link scale" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
                <a href="https://mdbootstrap.com" class="nav-link scale" target="_blank">MDB5</a>
            </li>
        </ul>
    </div>
{% endblock extra_footer %}
{% block extra_script %}
    <script src="{% static 'base/js/check-counter.js' %}"></script>
{% endblock extra_script %}