.navbar-fixed-top {
    position: fixed !important;
}

.navbar-fixed-top.scrolled {
    background-color: #26344B !important;
    transition: background-color 200ms linear;
}

.welcome-cover {
    min-height: 500px !important;
    background-image: url("../img/welcome_background.14cde0530eb3.jpg") !important;
    background-size: cover !important;
    background-position: center top !important;
}

.welcome-text {
    text-align: center !important;
}

.welcome-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}